/* Animasi fade-in untuk background */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Efek fade-in untuk background modal */
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  /* Efek slide-up untuk modal content */
  .slide-up {
    animation: slideUp 0.5s forwards;
  }
  
  /* Awalnya modal disembunyikan */
  .hidden {
    display: none;
  }
  
  /* Posisi modal di bawah form */
  .modal-slide {
    position: absolute;
    bottom: -10px; /* Mengatur agar muncul di bawah form */
  }
  